@font-face {
  font-family: "svgfont";
  src: url('svgfont.eot?t=1774548025035'); /* IE9*/
  src: url('svgfont.eot?t=1774548025035#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('svgfont.woff2?t=1774548025035') format('woff2'),
  url('svgfont.woff?t=1774548025035') format('woff'),
  url('svgfont.ttf?t=1774548025035') format('truetype'),
  url('svgfont.svg?t=1774548025035') format('svg');
}

[class^="svgfont-"], [class*=" svgfont-"] {
  font-family: 'svgfont' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.svgfont-activity-ai-detection::before { content: "\ea01"; }
.svgfont-activity-auto-snapshot::before { content: "\ea02"; }
.svgfont-activity-learning::before { content: "\ea03"; }
.svgfont-activity-manual-save::before { content: "\ea04"; }
.svgfont-activity-rollback::before { content: "\ea05"; }
.svgfont-learning-high::before { content: "\ea06"; }
.svgfont-learning-low::before { content: "\ea07"; }
.svgfont-learning-medium::before { content: "\ea08"; }
.svgfont-risk-high::before { content: "\ea09"; }
.svgfont-risk-low::before { content: "\ea0a"; }
.svgfont-risk-medium::before { content: "\ea0b"; }
.svgfont-session-abandoned::before { content: "\ea0c"; }
.svgfont-session-active::before { content: "\ea0d"; }
.svgfont-session-completed::before { content: "\ea0e"; }
.svgfont-snapback-brain::before { content: "\ea0f"; }
.svgfont-snapback-cap::before { content: "\ea10"; }
.svgfont-snapback-lightning::before { content: "\ea11"; }
.svgfont-snapback-pulse::before { content: "\ea12"; }
.svgfont-snapback-risk::before { content: "\ea13"; }
.svgfont-snapback-rollback::before { content: "\ea14"; }
.svgfont-snapbackrc-icon::before { content: "\ea15"; }
.svgfont-snapshot-ai::before { content: "\ea16"; }
.svgfont-snapshot-fragile::before { content: "\ea17"; }
.svgfont-snapshot-standard::before { content: "\ea18"; }


$svgfont-activity-ai-detection = '\ea01'
$svgfont-activity-auto-snapshot = '\ea02'
$svgfont-activity-learning = '\ea03'
$svgfont-activity-manual-save = '\ea04'
$svgfont-activity-rollback = '\ea05'
$svgfont-learning-high = '\ea06'
$svgfont-learning-low = '\ea07'
$svgfont-learning-medium = '\ea08'
$svgfont-risk-high = '\ea09'
$svgfont-risk-low = '\ea0a'
$svgfont-risk-medium = '\ea0b'
$svgfont-session-abandoned = '\ea0c'
$svgfont-session-active = '\ea0d'
$svgfont-session-completed = '\ea0e'
$svgfont-snapback-brain = '\ea0f'
$svgfont-snapback-cap = '\ea10'
$svgfont-snapback-lightning = '\ea11'
$svgfont-snapback-pulse = '\ea12'
$svgfont-snapback-risk = '\ea13'
$svgfont-snapback-rollback = '\ea14'
$svgfont-snapbackrc-icon = '\ea15'
$svgfont-snapshot-ai = '\ea16'
$svgfont-snapshot-fragile = '\ea17'
$svgfont-snapshot-standard = '\ea18'
