@font-face {
  font-family: "svgfont";
  src: url('svgfont.eot?t=1774548025035'); /* IE9*/
  src: url('svgfont.eot?t=1774548025035#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('svgfont.woff2?t=1774548025035') format('woff2'),
  url('svgfont.woff?t=1774548025035') format('woff'),
  url('svgfont.ttf?t=1774548025035') format('truetype'),
  url('svgfont.svg?t=1774548025035') format('svg');
}

[class^="svgfont-"], [class*=" svgfont-"] {
  font-family: 'svgfont' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:global {
.svgfont-activity-ai-detection::before { content: "\ea01"; }
.svgfont-activity-auto-snapshot::before { content: "\ea02"; }
.svgfont-activity-learning::before { content: "\ea03"; }
.svgfont-activity-manual-save::before { content: "\ea04"; }
.svgfont-activity-rollback::before { content: "\ea05"; }
.svgfont-learning-high::before { content: "\ea06"; }
.svgfont-learning-low::before { content: "\ea07"; }
.svgfont-learning-medium::before { content: "\ea08"; }
.svgfont-risk-high::before { content: "\ea09"; }
.svgfont-risk-low::before { content: "\ea0a"; }
.svgfont-risk-medium::before { content: "\ea0b"; }
.svgfont-session-abandoned::before { content: "\ea0c"; }
.svgfont-session-active::before { content: "\ea0d"; }
.svgfont-session-completed::before { content: "\ea0e"; }
.svgfont-snapback-brain::before { content: "\ea0f"; }
.svgfont-snapback-cap::before { content: "\ea10"; }
.svgfont-snapback-lightning::before { content: "\ea11"; }
.svgfont-snapback-pulse::before { content: "\ea12"; }
.svgfont-snapback-risk::before { content: "\ea13"; }
.svgfont-snapback-rollback::before { content: "\ea14"; }
.svgfont-snapbackrc-icon::before { content: "\ea15"; }
.svgfont-snapshot-ai::before { content: "\ea16"; }
.svgfont-snapshot-fragile::before { content: "\ea17"; }
.svgfont-snapshot-standard::before { content: "\ea18"; }

}
